*{
  letter-spacing: 0.8px;
  line-height: 1.5em;
}
.overflowtest{
  background-color: black;
  color: azure;
  padding: 10px ;
  border-radius: 15px;
  width: 75%;
  margin: 30px auto;
  height: 175px;
  
}




.darkbg{
  background-color: bisque;
  color: rgb(18, 27, 141);
}

div.redtext{
    padding: 50px 50px 50px 50px;
    color:#d94848;
    font-size: 40px;
    text-align: left;
    text-indent: 2em;
    background-color:#17d111;
    border: 10px solid;
    border-color:rgb(41, 143, 156) ;
    border-radius: 10px;
    margin: 50px auto;
    width: 80%;
}

.bluetext{
    color:blue; 
}
body{ 
  font-family: 'Noto Serif TC', sans-serif; 
}

h1,h2,h3,h4,h5,h6,h1,h2,h3,h4,h5,h6{
  font-family: 'Noto Sans TC',sans-serif;
}


.bg-primary {
    background-color: black !important;
background-image: url(../assets/img/123.jpg);
background-repeat: no-repeat;
background-size: cover
  }



 .expedu_icon{
    color:aquamarine
 }      
 .expedu_icon:hover{
    color:white;
    background-color: black;
 }
 table.pptable{
    width: 80%;
    background-color: rgb(255, 153, 127);
  }

  table.pptable th{
    text-align: center;
    background-color: black;
    border: 1px solid #2a5d44;
  }

  table.pptable td{
    text-align: center;
    border: 1px solid #2a5d44;
  }

  table.pptable tr:nth-child(even) {
    background-color: yellow;
  }

  table.pptable tr:nth-child(odd) {
    background-color: white;
  }