p.redtext{
    color:#CD5C5C;
    font-size:40px;
    text-align: center;
    text-indent:2em;
    background-color: gray;
}

.bluetext{
    color:blue; 
}
h1 { 
    font-family: 'Noto Sans TC', sans-serif; 
}

body{ 
    font-family: 'Noto Sans TC', sans-serif; 
}
 
 .expedu_icon{
    color:aquamarine
 }      
 .expedu_icon:hover{
    color:white;
    background-color: black;
 }