div.redtext{
    padding: 50px 50px 50px 50px;
    color:#d94848;
    font-size: 40px;
    text-align: left;
    text-indent: 2em;
    background-color:#1184d1;
    border: 10px solid;
    border-color:rgb(41, 143, 156) ;
    border-radius: 10px;
    margin: 50px auto;
    width: 80%;
}

.bluetext{
    color:blue; 
}
h1 { 
    font-family: 'Noto Serif TC', sans-serif; 
}

body{ 
    font-family: 'Noto Serif TC', sans-serif; 
}
.bg-primary {
    background-color: black !important;
background-image: url(../assets/img/123.jpg);
background-repeat: no-repeat;
background-size: cover
  }



 .expedu_icon{
    color:aquamarine
 }      
 .expedu_icon:hover{
    color:white;
    background-color: black;
 }
 table.pptable{
    width: 80%;
    background-color: rgb(255, 153, 127);
  }

  table.pptable th{
    text-align: center;
    background-color: black;
    border: 1px solid #2a5d44;
  }

  table.pptable td{
    text-align: center;
    border: 1px solid #2a5d44;
  }

  table.pptable tr:nth-child(even) {
    background-color: yellow;
  }

  table.pptable tr:nth-child(odd) {
    background-color: white;
  }